<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Todo</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link href="css/ionic.css" rel="stylesheet">

    <script src="scripts/libs/ionic.bundle.js"></script>
    <script src="scripts/app.js"></script>

    <!-- Needed for Cordova/PhoneGap (will be a 404 during development) -->
    <script src="cordova.js"></script>
</head>
<body ng-app="todo"  ng-controller="TodoCtrl">

    <ion-side-menus>

        <!-- Center content -->
        <ion-side-menu-content>
            <div class="top-text">
                <h3 class="">Welcome to Hi5!</h3>
            </div>
            <ion-content scroll="false">
                <div class="upper-space">
                    <div class="logo">
                        <img src="images/logo.png" width="200" height="230" alt="logo" />
                    </div>
                </div>
                <div class="upper-space2">
                    <a href="login.html" class="button button-block button-light">
                        <span class="login-btn">Log In</span>
                    </a>
                </div>
                <div class="login"> <!-- Arcadio -->
                    <p>Don't have an account? <a href="register.html"><b>Register</b></a></p>
                </div>
            </ion-content>
        </ion-side-menu-content>

        <!-- Left menu -->
        <!--<ion-side-menu side="left">
            <ion-header-bar class="bar-dark">
                <h1 class="title">Projects</h1>
                <button class="button button-icon ion-plus" ng-click="newProject()"></button>
            </ion-header-bar>
            <ion-content scroll="false">
                <ion-list>
                    <ion-item ng-repeat="project in projects" ng-click="selectProject(project, $index)" ng-class="{active: activeProject == project}">
                        {{project.title}}
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-side-menu>-->

    </ion-side-menus>
</body>
</html>
