<ion-view title="Detail Group">
    <ion-content class="has-header">
        <div class="bar bar-header">
            <button ui-sref="app.groups" class="button button-clear button-positive" style="padding:2px 6px 0 5px;">
                <img src="images/Arrow.png" id="edit" width="16" height="16" alt="edit" />
            </button>
            <div class="h1 title" style="color:#ffffff;">
                Group Detail
            </div>
        </div>
        <div class="logo-perfil-usr">
            <img src="images/User.png" id="logo" width="120" height="120" alt="perfil" />
            <h2 class="perfil-usuario">Los Odiosos 8</h2>
        </div>
        <ul class="list">
            <li class="item">
                Name
                <span class="item-note">
                    Los Odiosos 8
                </span>
            </li>
            <li class="item">
                Admin
                <span class="item-note">
                    Arcadio Pernia
                </span>
            </li>
            <li class="item">
                Description
                <span class="item-note">
                    Lorem ipsum dolor sit amet.
                </span>
            </li>
            <li class="item">
                Add Member
                <span class="item-note">
                    <a class="button button-icon icon ion-plus" ui-sref="app.addfriendgroup"></a>
                </span>
            </li>
        </ul>
        <div class="list">
            <h3 class="groups-title">Members</h3>
            <div class="list list-inset">
                <a class="item item-thumbnail-left" href="#">
                    <img src="images/User.png">
                    <h2><b>Arcadio Pernia</b></h2>
                    <p>Active Member</p>
                </a>
                <a class="item item-thumbnail-left" href="#">
                    <img src="images/User.png">
                    <h2><b>Arcadio Pernia</b></h2>
                    <p>Active Member</p>
                </a>
                <a class="item item-thumbnail-left" href="#">
                    <img src="images/User.png">
                    <h2><b>Arcadio Pernia</b></h2>
                    <p>Active Member</p>
                </a>
                <a class="item item-thumbnail-left" href="#">
                    <img src="images/User.png">
                    <h2><b>Arcadio Pernia</b></h2>
                    <p>Active Member</p>
                </a>
            </div>
        </div>
</ion-content>
</ion-view>