<ion-view title="Groups">
<!--  -->
    <ion-content class="has-header">
        <!--<h3 class="groups-title">My Groups</h3>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search"> s
            </label>
        </div>-->
        <div class="bar bar-header">
            <button ui-sref="app.wall" menu-close class="button button-clear button-positive" style="padding:2px 6px 0 5px;">
                <img src="images/Arrow.png" id="edit" width="16" height="16" alt="edit" />
            </button>
            <div class="h1 title" style="color:#ffffff;">
                Groups
            </div>
            <button ui-sref="app.addgroup" class="button button-clear button-positivev" style="padding:2px 6px 0 0;">
                <i class="icon ion-plus" style="color:white;"></i>
            </button>
        </div>
        <div style="padding-top:50px;"></div>
        <div class="list"  ui-sref="app.groupwall({groupid: '{{row.id}}'})" ng-repeat="row in list">
            <a class="item item-thumbnail-left" href="javascript:void(0)" >
                <img src="{{row.picture}}">
                <h2>{{row.name}}</h2>
                <p>{{row.description}}</p>
            </a>
            <!--<a class="item item-thumbnail-left" href="#">
                <img src="images/User.png">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="images/User.png">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="images/User.png">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="images/User.png">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="images/User.png">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>-->

        </div>
    </ion-content>

</ion-view>