
<ion-view view-title="init" style="background:#3ab4f3;">
    <div class="top-text">
        <h3 class="">Welcome to Hi5!</h3>
    </div>
    <ion-content scroll="false">
        <div style="margin-top:15px;" class="upper-space">
            <div class="logo">
                <img src="images/logo.png" width="200" height="230" alt="logo" />
            </div>
        </div>
        <div class="upper-space2">
            <a ui-sref="login" class="button button-block button-light">
                <span class="login-btn">Log In</span>
            </a>
        </div>
        <div style="margin-top:15px;" class="login">
            <p>Don't have an account? <a ui-sref="login"><b>Register</b></a></p>
        </div>
    </ion-content>
</ion-view>
