<ion-view title="Group Wall">
    <ion-content>
        <div class="bar bar-header" style="margin-top:44px;">
            <button ui-sref="app.wall" class="button button-clear button-positive" style="padding:2px 6px 0 5px;">
                <img src="images/Arrow.png" id="edit" width="16" height="16" alt="edit" />
            </button>
            <div class="h1 title" style="color:#ffffff;">
                {{user.name}} Wall
            </div>
        </div>
        <div style="padding-top:120px;"></div>
        <div ng-show="list.length === 0" style="color: #777; font-size:28px; font-weight:bold; text-align:center;">
            There's no Hi5 :(
        </div>
        <div class="list card" ng-repeat="row in list">
            <div class="item item-avatar">
                <img class="full-image" src="{{row.upicture}}" height="200" alt="perfil" />
                <h2>{{row.name}}</h2>
                <p>{{row.created_at}}</p>
                <p ng-show="row.fid">To: <a href="javascript:void(0)" ng-click="userwall(row)">{{row.fname}}</a></p>
                <p ng-show="row.gid">Group: <a href="javascript:void(0)" ui-sref="app.groupwall({groupid: '{{row.gid}}'})">{{row.gname}}</a></p>
            </div>
            <div class="item item-body">
                <img ng-show="row.picture" class="full-image" src="{{row.picture}}" height="200" alt="perfil" />
                <p>
                    {{row.message}}
                </p>
                <p>
                    <a href="javascript:void(0)" class="subdued" ng-click="toggleLike(row)">{{row.likes}} Hi5</a>
                    <a href="javascript:void(0)" menu-close ui-sref="app.comment({postid: '{{row.id}}'})" class="subdued">{{row.comments}} Comments</a>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>