<ion-view title="hi5">
    <ion-content id="content-wall" class="has-header" >
        <div ng-show="list.length === 0" style="color: #777; font-size:28px; color:white; font-weight:bold; text-align:center; margin-top: 50px;">
            There's no Hi5 :(
        </div>
        <div class="list card"  ng-repeat="row in list">
            <div class="item item-avatar">
                <img src="images/User.png">
                <h2>{{row.name}}</h2>
                <p>November 05, 1955</p>
            </div>
            <div class="item item-body">
                <!--<div style="background:#808080; height:200px;border-radius:3px;"></div>-->
                <p>
                    {{row.message}}
                </p>
                <p>
                    <a href="#" class="subdued">1 Hi5</a>
                    <a href="#" menu-close ui-sref="app.comment({postid: '{{row.id}}'})" ui-sref-opts="{reload: true, notify: true}" class="subdued">5 Comments</a>
                </p>
            </div>
        </div>
        <!--<div class="list card">
            <div class="item item-avatar">
                <img src="images/User.png">
                <h2>Marty McFly</h2>
                <p>November 05, 1955</p>
            </div>
            <div class="item item-body">
                <div style="background:#808080; height:200px;border-radius:3px;"></div>
                <p>
                    This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                    the content is from a card-body consisting of an image and paragraph text. The footer
                    consists of tabs, icons aligned left, within the card-footer.
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>
        </div>-->
        <!--<div class="card">
            <div class="item item-divider">
                <div class="list">

                    <a class="item item-avatar" href="#">
                        <img src="images/User.png">
                        <h2>Venkman</h2>
                        <p>Back off, man. I'm a scientist.</p>
                    </a>
                    ...
                </div>
            </div>
            <div class="item item-text-wrap">
                This is a basic Card with some text.
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <div class="list">

                    <a class="item item-avatar" href="#">
                        <img src="images/User.png">
                        <h2>Venkman</h2>
                        <p>Back off, man. I'm a scientist.</p>
                    </a>
                    ...
                </div>
            </div>
            <div class="item item-divider">
                I'm a Footer in a Card!
            </div>
        </div>-->
    </ion-content>
</ion-view>